@import 'constants';

#pagetitle {
  font-size: 1.1rem;
  position:fixed;
  margin-top:-81px;
  margin-left:55px;
  z-index:3;
  list-style-type: none;
}

#images {
  position: relative;
  padding: 0;
  margin: 0 3%;
  margin-top: 135px;
  width: 100%;
}

.topImage
{
display: inline;

padding: 0px;
}

.botImage
{
display: inline;
padding: 0px;
}

.content
{
display: inline;
vertical-align: middle;
}

img {
  width: 31%;
}
#search {
  top: 6rem;
  position: relative;
  width: 100%;
  margin: -45px 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search .react-search {
  width: 90%;
  margin: 15px 0px 5px 0px;
}

#search .react-search input {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 16px;
  height: 35px;
}
