@import 'constants';

.entry-name {
  margin-left: 5px;
  font-size: 25px;
}

#instruct-toggle {
  position: absolute;
  right: 1rem;
  top: 1rems;
}

.instruct-content {
  height: 100px;
  margin-top: 10px;
  display: none;
}

#recraft-toggle {
  position: absolute;
  right: 1rem;
  top: 1rems;
}

.recraft-content {
  height: 100px;
  margin-top: 10px;
  display: none;
}

#instruct-toggle:checked ~ .instruct-content {
  display: block;
}

#recraft-toggle:checked ~ .recraft-content {
  display: block;
}

.entry-rating {
  position: absolute;
  right: 1rem;
}

.entry-tags {
  position: absolute;
  right: 1rem;
}

.tags {
  background-color: orange;
  border-radius: 20px;
  padding: 5px 15px;
}

.entry-details hr {
  margin: 15px 0;
}
