@import 'constants';

.entry-name {
  margin-left: 5px;
  font-size: 25px;
}

#instruct-toggle {
  position: absolute;
  right: 1rem;
  top: 1rems;
  opacity: 0;
}

.instruct-content {
  height: 100px;
  margin-top: 10px;
  display: none;
}

#recraft-toggle {
  position: absolute;
  right: 1rem;
  top: 1rems;
  opacity: 0;
}

#recraft-toggle-label {
  @include user-select(none);
  -webkit-touch-callout: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 0.3rem;
  top: 0.5rem;
  background: url(../images/arrow-down.png) center center no-repeat;
}

#instruct-toggle-label {
  @include user-select(none);
  -webkit-touch-callout: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 0.3rem;
  top: 0.5rem;
  background: url(../images/arrow-down.png) center center no-repeat;
}

.recraft-content {
  height: 100px;
  margin-top: 10px;
  display: none;
}

#instruct-toggle:checked ~ .instruct-content {
  display: block;
}

.entry-input {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid skyblue;
  margin-left: 10px;
  width: 50%;
}

#recraft-toggle:checked ~ .recraft-content {
  display: block;
}

.entry-rating {
  position: absolute;
  right: 1rem;
}

.entry-tags {
  position: absolute;
  right: 1rem;
}

.tags {
  background-color: orange;
  border-radius: 20px;
  padding: 5px 15px;
}

.entry-details hr {
  margin: 15px 0;
}
