$font-family: Apercu Regular;
$font-file: '../Fonts/OpenSans/OpenSans-Regular';

@import 'constants';
@include font-face($font-family, $font-file, normal, normal);

html {
  overflow: hidden;
}

body {
  margin: 0;
}

#close-tab {
  @include user-select(none);
  -webkit-touch-callout: none;
  cursor: pointer;
  margin: 0 0 0 10px;
  color: grey;
  font-size: 15px;
  background: none;
  border: none;
}
